<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/root/CSS/index.css">
    <script src="/root/Javascript/index.js"></script>
    <title>Valeria Arenas Experience 2024</title>
</head>

<body>
    <div id="circle-menu" class="circle-menu">
        <button class="main-button" onclick="toggleMenu()">&#x2B;</button>
        <div class="menu-items"> 
            <button onclick="navigateToPage('/root/View/Experience')"><img src="/root/Images/workIcon.png" style="height: 50px; width: 50px;"></button>
            <button onclick="navigateToPage('/root/View/Experience')"><img src="/root/Images/aboutIcon.png" style="height: 55px; width: 55px;"></button>
            <button onclick="navigateToPage('/root/View/Experience')"><img src="/root/Images/skillsIcon.png" style="height: 55px; width: 55px;"></button>
        </div>
    </div>
</body>