<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/root/CSS/index.css">
    <script src="/root/Javascript/index.js"></script>
    <title> Valeria Arenas Skills 2024</title>
</head>

<body style="background-color: rgb(14, 14, 14);">
    <header class="image-glow container">
        <nav style="background-color: black; border-radius: 20px;">
            <img src="/root/Images/ValArenas - WebsiteImage.gif" style="border-radius: 20px; max-width: fit-content;">
            <div class="centered">
                <h class="typewriter" style=" font-size: 100px; font-family: 'Nunito', sans-serif;">Skills</h1>
        </nav>
    </header>
</body>

<body>
    <!-- #region Technical Skills-->
    <h1 class="centered" style="font: 110px; color: white; "> Technical Skills </h1>
    <div class="row" style="padding-top: 5.5%; font-family: 'Nunito', sans-serif;">
        <div class="column">
            <ul style="color: green;">
                <h1>
                    <ul> C# </ul>
                </h1>
                <h3>
                    <li>
                        3 Years
                    </li>
                    <li>
                        Tasko, LightGone, Motorola Solutions
                    </li>
                </h3>

            </ul>
        </div>
        <div class="column">
            <ul style="color: green;">
                <h1>
                    <ul> .NET Framework </ul>
                </h1>
                <h3>
                    <li>
                        3 Years
                    </li>
                    <li>
                        Tasko, Motorola Solutions
                    </li>
                </h3>

            </ul>
        </div>
        <div class="column">
            <ul style="color: green;">
                <h1>
                    <ul> Unity Engine</ul>
                </h1>
                <h3>
                    <li>
                        3 Years
                    </li>
                    <li>
                        Tasko, LightGone
                    </li>
                </h3>
            </ul>
        </div>
        <div class="column">
            <ul style="color: green;">
                <h1>
                    <ul> HTML | CSS </ul>
                </h1>
                <h3>
                    <li>
                        3 Years
                    </li>
                    <li>
                        Tasko, Motorola Solutions
                    </li>
                </h3>
            </ul>
        </div>
    </div>
    <div class="column">
        <ul style="color: yellow;">
            <h1>
                <ul> Unreal Engine </ul>
            </h1>
            <h3>
                <li>
                    2 Years
                </li>
                <li>
                    Neumont College of Computer Science
                </li>
            </h3>
        </ul>
    </div>
    <div class="column">
        <ul style="color: yellow;">
            <h1>
                <ul> Java </ul>
            </h1>
            <h3>
                <li>
                    4 Years
                </li>
                <li>
                    Neumont College of Computer Science
                </li>
            </h3>
        </ul>
    </div>
    <div class="column">
        <ul style="color: yellow;">
            <h1>
                <ul> C++ </ul>
            </h1>
            <h3>
                <li>
                    4 Years
                </li>
                <li>
                    Neumont College of Computer Science
                </li>
            </h3>
        </ul>
    </div>
    <div class="column">
        <ul style="color: red;">
            <h1>
                <ul> ReactJS </ul>
            </h1>
            <h3>
                <li>
                    1 Year
                </li>
                <li>
                    Motorola Solutions
                </li>
            </h3>
        </ul>
    </div>
    <div class="column">
        <ul style="color: red;">
            <h1>
                <ul> MongoDB | SQL </ul>
            </h1>
            <h3>
                <li>
                    1.5 Years
                </li>
                <li>
                    Motorola Solutions
                </li>
            </h3>
        </ul>
        <div class="column">
            <ul style="color: red;">
                <h1>
                    <ul> APIs </ul>
                </h1>
                <h3>
                    <li>
                        1.5 Years
                    </li>
                    <li>
                        Motorola Solutions
                    </li>
                </h3>
            </ul>
        </div>
        <div class="column">
            <ul style="color: red;">
                <h1>
                    <ul> JavaScript </ul>
                </h1>
                <h3>
                    <li>
                        1 Years
                    </li>
                    <li>
                        Motorola Solutions
                    </li>
                </h3>
            </ul>
        </div>
    </div>
    </div>

    <!-- #endregion -->

    <hr />


</body>