<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/root/CSS/index.css">
    <script src="/root/Javascript/index.js"></script>
    <title> Valeria Arenas Skills 2024</title>
</head>

<body style="background-color: rgb(14, 14, 14);">
    <header class="image-glow container">
        <nav style="background-color: black; border-radius: 20px;">
            <img src="/root/Images/ValArenas - WebsiteImage.gif" style="border-radius: 20px; max-width: fit-content;">
            <div class="centered">
                <h class="typewriter" style=" font-size: 100px; font-family: 'Nunito', sans-serif;">Skills</h1>
        </nav>
    </header>
</body>

<body>
    <h1 class="centered" style="font: 110px;"> Technical Skills </h1>
    <div class="row">
        <div class="column">
            <img src="/root/Images/UnityLogo.png" style="height: 250px; width: 250px;"/>
        </div>

        <div class="column">
            <img src="/root/Images/CSharpLogo.png" style="height: 250px; width: 250px;"/>
        </div>
    </div>
<hr />

</body>