<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/root/CSS/index.css">
    <script src="/root/Javascript/index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Valeria Arenas Skills 2024</title>
</head>

<body class="bg-black">
    <!-- Navbar -->
    <nav class="bg-white shadow fixed w-full z-10">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between h-16">
                <div class="flex-shrink-0">
                    <a href="/index.html" class="text-xl font-bold text-gray-900">Valeria Arenas</a>
                </div>
                <div class="hidden md:flex md:space-x-8">
                    <a href="./root/View/AboutMe.html" class="text-gray-700 hover:text-gray-900">About Me</a>
                    <a href="/root/View/Experience.html" class="text-gray-700 hover:text-gray-900">Projects</a>
                </div>
                <div class="md:hidden">
                    <button class="text-gray-700 hover:text-gray-900 focus:outline-none focus:text-gray-900"
                        aria-label="Toggle navigation">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <section id="LightGone" class="relative h-96 lg:h-[36rem]">

        <img src="../Images/TaskoBanner.png" alt="LightGone" class="absolute inset-0 w-full h-full object-cover">

        <div class="absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center space-y-4">
            <h1 class="text-white text-6xl font-bold tracking-widest">Tasko</h1>
            <h4 class="text-white text-3xl font-bold tracking-widest">Neumont Senior Capstone Project</h4>
            <h4 class="text-white text-3xl font-bold tracking-widest">September - December 2023</h4>
        </div>
    </section>


    <section id="ChallengeLG" class="py-16">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl text-white font-semibold mb-4">Challenge</h2>
            <p class="text-white text-xl">
                Design and develop Tasko, an intuitive task management app originally aimed at children with autism,
                later expanded for all children. The goal was to create a system where children earned game access by
                completing tasks. This required user-friendly design, clear visuals, simple navigation, and robust
                security measures. As Tasko evolved, the app needed to scale effectively while maintaining its engaging
                reward system and ensuring privacy and safety for users.
            </p>
        </div>
    </section>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 Valeria Arenas Portfolio. All rights reserved.</p>
        </div>
    </footer>
</body>