/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 50px; /* Add margin bottom to create space for the button */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Page Transition */
.content{
  display: none;
}

.hidden {
  display:none;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Image alignment */
.column {
  float: left;
  width: 20%;
  padding-left: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(255, 255, 255);
  }
}

/* Image glow */
.image-glow {
  padding: 16px 24px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .01);

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770);
    background-size: 200% 200%;
    animation: animateGlow 2.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

/* Linked Images Glow */
#imagelinkgithub {
  position: relative;
  filter: drop-shadow(5px 5px 10px rgb(46, 46, 46));
}

#imagelinklinkedin {
  position: relative;
  filter: drop-shadow(5px 5px 10px #0077B5);
}

/* ANIMATED BUTTON */
.animated-button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #9e16c3;
  background: #c42da8;
  background: linear-gradient(90deg, rgb(198, 129, 230) 0%, rgb(198, 79, 209) 100%);
  border: none;
  border-radius: 500px;
  box-shadow: 12px 12px 24px rgba(172, 79, 209, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 40px; /* Add margin top to separate from the header */
}

.animated-button:hover::before, button:focus::before {
  opacity: 1;
  cursor: pointer;
}

.animated-button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #8c00ff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.animated-button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circle Menu */
.circle-menu
{
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 1000;
}

.main-button{
width: 60px;
height: 60px;
border-radius: 50%;
background-color: #c42da8;
color: white;
border: none;
cursor: pointer;
}

.menu-items
{
  display: block;
  position: absolute;
  bottom: 70px;
  right: 10px;

}

.menu-items button {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #9e16c3;
  color: white;
  font-size: 16px;
  border:none;
  cursor:pointer;
  transition: transform 0.3s ease;

}

.menu-items button:hover{
  transform: scale(1.1);
}